

.content{ width: 100%; height: auto; float: left;}
.content img{ width: 100%; height: auto; display: block}

.time-limit , .activity-list , .prefecture-list , .activity-goods-list{ width: 100%; height: auto; float: left}
.time-limit .time-limit-items, .activity-list .activity-list-items , .prefecture-list .prefecture-list-items{ width: 100%; height: auto; float: left ; background: #114eab}
.time-limit .time-limit-items .time-limit-item, .activity-list .activity-list-items .activity-list-item , .prefecture-list .prefecture-list-items .prefecture-list-item{ width:3.75rem; height: auto; float: left; display: block; background: #efefef  }
.time-limit .time-limit-items .time-limit-item img, .activity-list .activity-list-items .activity-list-item img , .prefecture-list .prefecture-list-items .prefecture-list-item img{ width: 100%; height: auto; float: left}
.activity-goods-list .goods-list-items{ width: 100%; height: auto; float: left; }
.activity-goods-list .goods-list-items .goods-list-item{ width: 47%; height: auto; float: left; margin-left: 2%; margin-bottom: .1rem; background: #efefef; position: relative }
.activity-goods-list .goods-list-items .goods-list-item img{ width: 100%; height: auto; display: block}

/*专区color*/
.infant{ background: #bed5fe ;}
.beauty{ background: #f59fbc ;}
.foods{ background: #fdf298 ;}
.health{ background: #dbea97}
.house{ background: #ebffff}
.costume{ background: #ffa2d9}