<!--顶部-->
<header class="header" style="z-index: 9; position: fixed; border-bottom: 0px">
    <a href="javascript:void (0)" class="back"></a>
    <h2>亚洲保健专场</h2>
</header>

<!--活动图片-->
<img src="images/big_goods_back.png" data-img="images/goodslist/top.jpg" class="fullgive_ad lazyload"
     style="margin-top: 1rem; margin-bottom: .15rem">

<!--列表-->
<ul class="fullgive-sale">

    <!--日本参天-->
    <li class="fullgive-sale-box"  data-goodsid="6103" data-goodsitemid="6114">
        <div class="fullgive-sale-img">
            <img class="lazyload" data-img="images/goodslist/list_01.jpg" src="images/goods_back.png">
        </div>

        <div class="fullgive-sale-tap">
            <a href="javascript:void (0)" class="fullgive-sale-title">2瓶装|日本SANTEN-FX参天缓解疲劳保护角膜玫瑰眼药水滴眼液12ml/瓶</a>
            <a href="javascript:void (0)" class="fullgive-sale-specif">
                默认
            </a>

            <em>乐虎价：<i>¥ 248</i></em>
        </div>
        <div class="fullgive-sale-msg">
            <div class="fullgive-sale-btn">
                <a href="javascript:void (0)" class="fullgive-sale-ct">查看详情</a>
            </div>
        </div>
    </li>

    <!--Im 石榴酵素-->
    <li class="fullgive-sale-box"  data-goodsid="5922" data-goodsitemid="5933">
        <div class="fullgive-sale-img">
            <img class="lazyload" data-img="images/goodslist/list_02.jpg" src="images/goods_back.png">
        </div>

        <div class="fullgive-sale-tap">
            <a href="javascript:void (0)" class="fullgive-sale-title">韩国Im;Beauty RubyQueen 石榴酵素100%发酵石榴 1.5/包 40包/盒 1盒装</a>
            <a href="javascript:void (0)" class="fullgive-sale-specif">
               默认
            </a>

            <em>乐虎价：<i>¥ 258</i></em>
        </div>
        <div class="fullgive-sale-msg">
            <div class="fullgive-sale-btn">
                <a href="javascript:void (0)" class="fullgive-sale-ct">查看详情</a>
            </div>
        </div>
    </li>

    <!--银杏叶-->
    <li class="fullgive-sale-box"  data-goodsid="11208" data-goodsitemid="11381">
        <div class="fullgive-sale-img">
            <img class="lazyload" data-img="images/goodslist/list_03.jpg" src="images/goods_back.png">
        </div>

        <div class="fullgive-sale-tap">
            <a href="javascript:void (0)" class="fullgive-sale-title">银杏叶营养充剂酸梅口味30ml*10支</a>
            <a href="javascript:void (0)" class="fullgive-sale-specif">
                默认
            </a>

            <em>乐虎价：<i>¥ 249.9</i></em>
        </div>
        <div class="fullgive-sale-msg">
            <div class="fullgive-sale-btn">
                <a href="javascript:void (0)" class="fullgive-sale-ct">查看详情</a>
            </div>
        </div>
    </li>

   <!--日本山本-->
    <li class="fullgive-sale-box"  data-goodsid="6679" data-goodsitemid="6690">
        <div class="fullgive-sale-img">
            <img class="lazyload" data-img="images/goodslist/list_04.jpg" src="images/goods_back.png">
        </div>

        <div class="fullgive-sale-tap">
            <a href="javascript:void (0)" class="fullgive-sale-title">日本山本汉方大麦若叶青汁 3g*44小袋</a>
            <a href="javascript:void (0)" class="fullgive-sale-specif">
                默认
            </a>

            <em>乐虎价：<i>¥ 99</i></em>
        </div>
        <div class="fullgive-sale-msg">
            <div class="fullgive-sale-btn">
                <a href="javascript:void (0)" class="fullgive-sale-ct">查看详情</a>
            </div>
        </div>
    </li>

    <!--正官庄-->
    <li class="fullgive-sale-box"  data-goodsid="6130" data-goodsitemid="6141">
        <div class="fullgive-sale-img">
            <img class="lazyload" data-img="images/goodslist/list_05.jpg" src="images/goods_back.png">
        </div>

        <div class="fullgive-sale-tap">
            <a href="javascript:void (0)" class="fullgive-sale-title">正官庄  无糖高级红参糖 秀80g</a>
            <a href="javascript:void (0)" class="fullgive-sale-specif">
                默认
            </a>

            <em>乐虎价：<i>¥ 59</i></em>
        </div>
        <div class="fullgive-sale-msg">
            <div class="fullgive-sale-btn">
                <a href="javascript:void (0)" class="fullgive-sale-ct">查看详情</a>
            </div>
        </div>
    </li>

    <!--日本新谷夜间酵素-->
    <li class="fullgive-sale-box"  data-goodsid="11205" data-goodsitemid="11378">
        <div class="fullgive-sale-img">
            <img class="lazyload" data-img="images/goodslist/list_06.jpg" src="images/goods_back.png">
        </div>

        <div class="fullgive-sale-tap">
            <a href="javascript:void (0)" class="fullgive-sale-title">日本新谷间酵素30包*150粒</a>
            <a href="javascript:void (0)" class="fullgive-sale-specif">
                默认
            </a>

            <em>乐虎价：<i>¥ 148</i></em>
        </div>
        <div class="fullgive-sale-msg">
            <div class="fullgive-sale-btn">
                <a href="javascript:void (0)" class="fullgive-sale-ct">查看详情</a>
            </div>
        </div>
    </li>

    <!--日本Nichiban-->
    <li class="fullgive-sale-box"  data-goodsid="6063" data-goodsitemid="6074">
        <div class="fullgive-sale-img">
            <img class="lazyload" data-img="images/goodslist/list_07.jpg" src="images/goods_back.png">
        </div>

        <div class="fullgive-sale-tap">
            <a href="javascript:void (0)" class="fullgive-sale-title">日本Nichiban大判镇疼清凉冷感老人穴位贴 156枚/盒</a>
            <a href="javascript:void (0)" class="fullgive-sale-specif">
                默认
            </a>

            <em>乐虎价：<i>¥ 90</i></em>
        </div>
        <div class="fullgive-sale-msg">
            <div class="fullgive-sale-btn">
                <a href="javascript:void (0)" class="fullgive-sale-ct">查看详情</a>
            </div>
        </div>
    </li>

    <!--日本龙角粉-->
    <li class="fullgive-sale-box"  data-goodsid="11134" data-goodsitemid="11269">
        <div class="fullgive-sale-img">
            <img class="lazyload" data-img="images/goodslist/list_08.jpg" src="images/goods_back.png">
        </div>

        <div class="fullgive-sale-tap">
            <a href="javascript:void (0)" class="fullgive-sale-title">2盒装|日本龙角散 粉末止咳化痰润喉粉末剂 16支/盒（水蜜桃味-粉色</a>
            <a href="javascript:void (0)" class="fullgive-sale-specif">
                默认
            </a>

            <em>乐虎价：<i>¥ 127</i></em>
        </div>
        <div class="fullgive-sale-msg">
            <div class="fullgive-sale-btn">
                <a href="javascript:void (0)" class="fullgive-sale-ct">查看详情</a>
            </div>
        </div>
    </li>

    <!--日本参天眼药水-->
    <li class="fullgive-sale-box"  data-goodsid="10966" data-goodsitemid="11059">
        <div class="fullgive-sale-img">
            <img class="lazyload" data-img="images/goodslist/list_09.jpg" src="images/goods_back.png">
        </div>

        <div class="fullgive-sale-tap">
            <a href="javascript:void (0)" class="fullgive-sale-title">日本参天FX NEO眼药水12ml清凉型缓解眼疲劳充血*3</a>
            <a href="javascript:void (0)" class="fullgive-sale-specif">
               默认
            </a>

            <em>乐虎价：<i>¥ 105</i></em>
        </div>
        <div class="fullgive-sale-msg">
            <div class="fullgive-sale-btn">
                <a href="javascript:void (0)" class="fullgive-sale-ct">查看详情</a>
            </div>
        </div>
    </li>

    <!--高丽-->
    <li class="fullgive-sale-box"  data-goodsid="6140" data-goodsitemid="6151">
        <div class="fullgive-sale-img">
            <img class="lazyload" data-img="images/goodslist/list_10.jpg" src="images/goods_back.png">
        </div>

        <div class="fullgive-sale-tap">
            <a href="javascript:void (0)" class="fullgive-sale-title">正官庄高丽红参精丸Gold(6粒x60包)</a>
            <a href="javascript:void (0)" class="fullgive-sale-specif">
                默认
            </a>

            <em>乐虎价：<i>¥ 528</i></em>
        </div>
        <div class="fullgive-sale-msg">
            <div class="fullgive-sale-btn">
                <a href="javascript:void (0)" class="fullgive-sale-ct">查看详情</a>
            </div>
        </div>
    </li>

</ul>


