
<!--内容-->
<div class="video-content">
    <div class="video-content-title">
        <video poster="images/timg.jpeg" autoplay controls loop preload="auto">
            <source src="http://lehumall.b0.upaiyun.com/upload/video/admin/2017/20170607/201706071152089521.mp4" type="video/mp4">
            您的浏览器不支持 HTML5 video 标签。
        </video>
    </div>

    <!--详情-->
    <div class="video-content-btn" >
        <img src="images/btn.png">
    </div>

</div>