
<!--顶部-->
<header class="header">
    <a href="javascript:void (0)" class="back"></a>
    <h2>增值服务</h2>
</header>

<!--内容-->

<div class="servers-list">

    <div class="severs-list-box">
        <a href="javascript:void (0)" class="severs-box-banner"><img src="images/servers/server_01.jpg"></a>
        <div class="servers-list-items">

            <a href="https://m.ly.com/hotel/?refid=104555711" class="servers-list-item">
                <img src="images/servers/hotel.png">
                <span>酒店</span>
            </a>

            <a href="https://m.ly.com/flightnew?refid=104555711"  class="servers-list-item">
                <img src="images/servers/ticket.png">
                <span>国内机票</span>
            </a>

            <a href="https://m.ly.com/iflight/?refid=104555711"  class="servers-list-item">
                <img src="images/servers/plane.png">
                <span>国际机票</span>
            </a>

            <a href="https://m.ly.com/scenery/?refid=104555711"  class="servers-list-item">
                <img src="images/servers/men.png">
                <span>门票</span>
            </a>

            <a href="https://m.ly.com/selftrip/?refid=104555711"  class="servers-list-item">
                <img src="images/servers/area.png">
                <span>周边自由行</span>
            </a>

            <a href="https://m.ly.com/bustour/?refid=104555711"  class="servers-list-item">
                <img src="images/servers/people.png">
                <span>周边跟团游</span>
            </a>

            <a href="https://m.ly.com/guoneiyou/?refid=104555711"  class="servers-list-item">
                <img src="images/servers/inline.png">
                <span>国内游</span>
            </a>

            <a href="https://m.ly.com/dujia/?refid=104555711"  class="servers-list-item">
                <img src="images/servers/outside.png">
                <span>出境游</span>
            </a>

            <a href="https://m.ly.com/youlun/?refid=104555711"  class="servers-list-item">
                <img src="images/servers/ship.png">
                <span>邮轮</span>
            </a>

            <a href="https://m.ly.com/hotel/?refid=104555711"  class="servers-list-item">
                <img src="images/servers/HC.png">
                <span>预约酒店</span>
            </a>

            <a href="https://m.ly.com/pub/train/?refid=104555711"  class="servers-list-item">
                <img src="images/servers/train.png">
                <span>火车票</span>
            </a>

        </div>
    </div>

    <div class="severs-list-box">
        <a href="javascript:void (0)" class="severs-box-banner"><img src="images/servers/server_02.jpg"></a>
        <div class="servers-list-items">
            <a href="https://ecentre.spdbccc.com.cn/creditcard/indexActivity.htm?data=P938420"  class="servers-list-item">
                <img src="images/servers/pufa.png">
                <span>浦发银行</span>
            </a>
        </div>
    </div>

</div>