<!--顶部-->
<header class="header" style="box-shadow: 0px 1px 1px 0px rgb( 225, 225, 225 );">
    <a href="javascript:void (0)" class="back"></a>
    <h2>满减</h2>
</header>

<!--内容-->
<!--内容-->
<div class="fullgive_ads">

</div>

<!--页面加载-->
<img src="images/loading.gif" class="nlist_loading">

<!--没有活动提示-->
<div class="nlist_no_activity" style="width: 100%; height: auto; float: left; display: none; text-align: center; font-size: .28rem">
    <img src="images/no_activity.png" style="width:2.4rem; height: auto; margin: 1.2rem auto .48rem; display: block">
    暂时没有活动哦～
</div>