
<!--顶部-->
<header class="header">
    <a href="javascript:void (0)" class="back"></a>
    <h2></h2>
</header>


<!--楼层展示-->
<div class="list-content">
    <!--图片加载-->
    <img src="images/loading.gif" class="nlist_loading">
</div>