<!--顶部-->
<header class="header" style="border-bottom: 0px;">
    <a href="javascript:void (0)" class="back"></a>
    <h2>幸运大转盘</h2>
</header>

<div class="nwrapper" id="carousel" style="position: relative;  background: url({{{lehu-images data.bgImgUrl}}}); background-size: 100%; background-repeat: no-repeat; padding-bottom: .6rem">
    <!--顶部-->
    <div class="dial_top">

    </div>

    <!--转盘-->
    <div class="dial_main">
        <div id="lottery">
            <table>
                <tr>
                    <td class="lottery-unit  lottery-unit-0">
                        {{{lehu-lottery luckProbabilityList 0}}}
                    </td>
                    <td class="lottery-unit  lottery-unit-1">
                        {{{lehu-lottery luckProbabilityList 1}}}
                    </td>
                    <td class="lottery-unit  lottery-unit-2">
                        {{{lehu-lottery luckProbabilityList 2}}}
                    </td>
                </tr>
                <tr>
                    <td class="lottery-unit  lottery-unit-7">
                        {{{lehu-lottery luckProbabilityList 7}}}
                    </td>
                    <td class="lottery-bt">
                        <a href="javascript:void (0)">点击开始</a>
                    </td>
                    <td class="lottery-unit  lottery-unit-3">
                        {{{lehu-lottery luckProbabilityList 3}}}
                    </td>
                </tr>
                <tr>
                    <td class="lottery-unit  lottery-unit-6">
                        {{{lehu-lottery luckProbabilityList 6}}}
                    </td>
                    <td class="lottery-unit lottery-unit-5">
                        {{{lehu-lottery luckProbabilityList 5}}}
                    </td>
                    <td class="lottery-unit lottery-unit-4">
                        {{{lehu-lottery luckProbabilityList 4}}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="dial_main_box" id="nologin">
            先<span id="login">登录</span>再抽奖哦!
        </div>
        <div class="dial_main_box" id="alreadylogin" style="display: none">
            剩余<span id="login">{{data.lasttimes}}</span>次机会
        </div>
    </div>

    <!--名单-->
    <div class="dial_msg">
        <div class="dial_msg_box">
            <ul>
                {{#each zhongJiangJiLu}}
                    <li><em>{{userPhone}}</em><span>中了{{ prizeName}}</span></li>
                {{/each}}
            </ul>
        </div>
    </div>

    <!--说明-->
    <div class="dial_footer">
        <span class="ruler">活动规则</span>
        <ul>
        </ul>
    </div>

    <!--恭喜您，中奖啦 优惠券-->
    <div class="pop_win coupon-win" style="display: none">
        <div class="pop_win_window">
            <div class="window_title" style=" padding-top: 1.8rem;">
                <p style="color: #212121; font-size: .32rem ; width: 2.83rem; height: .8rem; overflow: hidden "
                   class="pop_win_name"></p>
                <p class="pop_win_tip" style="color: #756e63; font-size: .24rem">可在<span class="pop_win_coupons">我的优惠券</span>进行查看哦！</p>
            </div>
            <a href="javascript:void (0)">知道啦~</a>
        </div>
    </div>

    <!--恭喜您，中奖啦 商品-->
    <div class="pop_win goods-win" style="display: none">
        <div class="pop_win_window">
            <div class="window_title" style=" padding-top: 1.8rem;">
                <p style="color: #212121; font-size: .32rem ; width: 2.83rem; height: .8rem; overflow: hidden "
                   class="pop_win_name"></p>
                <p class="pop_win_tip" style="color: #756e63; font-size: .24rem">请等待客服人员与您联系~</p>
            </div>
            <a href="javascript:void (0)">知道啦~</a>
        </div>
    </div>

    <!--谢谢参与-->
    <div class="pop_lost" style="display: none">
        <div class="pop_lost_window">
            <div class="window_title" style=" padding-top: 1.5rem;">
                <p style="color: #212121; font-size: .32rem; width: 3.2rem">很遗憾没有中奖，换个姿势，再来一次吧~</p>
                <p style="color: #756e63; font-size: .26rem">谢谢参与！</p>
            </div>
            <a href="javascript:void (0)">确认</a>
        </div>
    </div>
</div>


<div  class="nlist_no_activity" style='width: 100%; height: auto; float: left; display: none ; text-align: center; font-size: .28rem'>
    <img src= 'images/no_activity.png' style=' width: 2.4rem; height: auto; margin: 1.2rem auto .48rem; display: block' />暂时没有活动哦～
</div>
