<!--顶部-->
			<header class="header">
				<a href="javascript:void (0)" class="back"></a>
				<h2>用户须知</h2>
			</header>

			<!--content-->
			<div class="content">
				<!--top img-->
				<img src="images/userInstructions.jpg">
 			</div>