<!--顶部-->
<header class="header">
    <a href="javascript:void (0)" class="back"></a>
    <h2>夏日大作战抢半价</h2>
</header>

<!--content-->
<div class="content">
    <!--top img-->
    <img src="images/activity/activity_01.jpg">

    <!--coupon-->
    <img src="images/activity/activity_03.jpg" class="coupon">


    <!--timeLimit-->
    <div class="time-limit">
        <img src="images/activity/activity_04.jpg">

        <div class="time-limit-items">
            <img data-goodsid="66" data-goodsitemid="75"  src="images/goods_back.png" data-img="images/activity/activity_05.jpg"
                 class="time-limit-item lazyload">
            <img data-goodsid="2617" data-goodsitemid="2628"  src="images/goods_back.png" data-img="images/activity/activity_06.jpg"
                 class="time-limit-item lazyload">
            <img data-goodsid="10970" data-goodsitemid="11063"  src="images/goods_back.png" data-img="images/activity/activity_07.jpg"
                 class="time-limit-item lazyload">
            <img data-goodsid="9838" data-goodsitemid="9849"  src="images/goods_back.png" data-img="images/activity/activity_08.jpg"
                 class="time-limit-item lazyload">
            <img data-goodsid="11210" data-goodsitemid="11383"  src="images/goods_back.png" data-img="images/activity/activity_10.jpg"
                 class="time-limit-item lazyload">
            <img data-goodsid="5369" data-goodsitemid="5380"  src="images/goods_back.png" data-img="images/activity/activity_11.jpg"
                 class="time-limit-item lazyload">
        </div>

    </div>

    <div class="activity-list">
        <img src="images/activity/activity_12.jpg">

        <div class="activity-list-items">
            <a class="activity-list-item"
               href="https://app.lehumall.com/front/activityreduce.html?hyfrom=app&activityId=247&storeActivityId=12"><img
                    src="images/goods_back.png" data-img="images/activity/activity_13.jpg" class="lazyload"></a>
            <a class="activity-list-item"
               href="https://app.lehumall.com/front/activityreduce.html?hyfrom=app&activityId=263&storeActivityId=17"><img
                    src="images/goods_back.png" data-img="images/activity/activity_14.jpg" class="lazyload"></a>
            <a class="activity-list-item"
               href="https://app.lehumall.com/front/activityreduce.html?hyfrom=app&activityId=262&storeActivityId=16"><img
                    src="images/goods_back.png" data-img="images/activity/activity_15.jpg" class="lazyload"></a>
            <a class="activity-list-item"
               href="https://app.lehumall.com/front/activityreduce.html?hyfrom=app&activityId=261&storeActivityId=15"><img
                    src="images/goods_back.png" data-img="images/activity/activity_16.jpg" class="lazyload"></a>
        </div>

    </div>

    <!--activity-goodsList-->
    <div class="prefecture-list">

        <img src="images/activity/activity_18.jpg" class="prefecture-list-top">
        <!--goods-list-->
        <div class="prefecture-list-items">
            <img data-goodsid="3202" data-goodsitemid="3213" src="images/goods_back.png"
                 data-img="images/activity/activity_20.jpg" class="prefecture-list-item lazyload">
            <img data-goodsid="3204" data-goodsitemid="3215" src="images/goods_back.png"
                 data-img="images/activity/activity_21.jpg" class="prefecture-list-item lazyload">
            <img data-goodsid="11245" data-goodsitemid="11433" src="images/goods_back.png"
                 data-img="images/activity/activity_22.jpg" class="prefecture-list-item lazyload">
            <img data-goodsid="11228" data-goodsitemid="11405" src="images/goods_back.png"
                 data-img="images/activity/activity_23.jpg" class="prefecture-list-item lazyload">
            <img data-goodsid="6226" data-goodsitemid="6237" src="images/goods_back.png"
                 data-img="images/activity/activity_25.jpg" class="prefecture-list-item lazyload">
            <img data-goodsid="4738" data-goodsitemid="4749" src="images/goods_back.png"
                 data-img="images/activity/activity_26.jpg" class="prefecture-list-item lazyload">
            <img data-goodsid="7179" data-goodsitemid="7190" src="images/goods_back.png"
                 data-img="images/activity/activity_27.jpg" class="prefecture-list-item lazyload">
            <img data-goodsid="9129" data-goodsitemid="9140" src="images/goods_back.png"
                 data-img="images/activity/activity_28.jpg" class="prefecture-list-item lazyload">
        </div>
    </div>


    <div class="activity-goods-list">
        <img src="images/activity/activity_29.jpg">

        <div class="goods-list-items infant">
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="7907" data-goodsitemid="7918"><img
                    src="images/goods_back.png" data-img="images/activity/activity_31.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="11227" data-goodsitemid="11404"><img
                    src="images/goods_back.png" data-img="images/activity/activity_33.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="7927" data-goodsitemid="7938"><img
                    src="images/goods_back.png" data-img="images/activity/activity_37.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="7906" data-goodsitemid="7917"><img
                    src="images/goods_back.png" data-img="images/activity/activity_38.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="7875" data-goodsitemid="7886"><img
                    src="images/goods_back.png" data-img="images/activity/activity_41.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="7941" data-goodsitemid="7952"><img
                    src="images/goods_back.png" data-img="images/activity/activity_42.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="11244" data-goodsitemid="11432"><img
                    src="images/goods_back.png" data-img="images/activity/activity_45.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="8197" data-goodsitemid="8208"><img
                    src="images/goods_back.png" data-img="images/activity/activity_46.jpg" class="lazyload"></a>
        </div>
    </div>

    <div class="activity-goods-list">
        <img src="images/activity/activity_47.jpg">

        <div class="goods-list-items beauty">
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="1182" data-goodsitemid="1193"><img
                    src="images/goods_back.png" data-img="images/activity/activity_49.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="2287" data-goodsitemid="2298"><img
                    src="images/goods_back.png" data-img="images/activity/activity_51.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="3069" data-goodsitemid="3080"><img
                    src="images/goods_back.png" data-img="images/activity/activity_54.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="2753" data-goodsitemid="2764"><img
                    src="images/goods_back.png" data-img="images/activity/activity_55.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="3136" data-goodsitemid="3147"><img
                    src="images/goods_back.png" data-img="images/activity/activity_57.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="1711" data-goodsitemid="1722"><img
                    src="images/goods_back.png" data-img="images/activity/activity_58.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="3778" data-goodsitemid="3789"><img
                    src="images/goods_back.png" data-img="images/activity/activity_59.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="2641" data-goodsitemid="2652"><img
                    src="images/goods_back.png" data-img="images/activity/activity_60.jpg" class="lazyload"></a>
        </div>
    </div>

    <div class="activity-goods-list">
        <img src="images/activity/activity2_01.jpg">

        <div class="goods-list-items foods">
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="9316" data-goodsitemid="9327"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_03.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="9030" data-goodsitemid="9041"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_05.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="9459" data-goodsitemid="9470"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_09.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="10797" data-goodsitemid="10808"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_10.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="8990" data-goodsitemid="9001"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_13.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="9993" data-goodsitemid="10004"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_14.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="9455" data-goodsitemid="9466"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_17.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="9758" data-goodsitemid="9769"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_18.jpg" class="lazyload"></a>
        </div>
    </div>

    <div class="activity-goods-list">
        <img src="images/activity/activity2_19.jpg">

        <div class="goods-list-items health">
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="6649" data-goodsitemid="6660"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_21.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="6267" data-goodsitemid="6278"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_23.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="6272" data-goodsitemid="6283"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_27.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="6273" data-goodsitemid="6284"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_28.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="6280" data-goodsitemid="6291"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_31.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="6703" data-goodsitemid="6714"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_32.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="6314" data-goodsitemid="6325"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_35.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="11205" data-goodsitemid="11378"><img
                    src="images/goods_back.png" data-img="images/activity/activity2_36.jpg" class="lazyload"></a>
        </div>
    </div>


    <div class="activity-goods-list">
        <img src="images/activity/activity3_01.jpg">

        <div class="goods-list-items house">
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="4844" data-goodsitemid="4855"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_03.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="4300" data-goodsitemid="4311"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_05.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="4877" data-goodsitemid="4888"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_09.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="5457" data-goodsitemid="5468"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_10.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="4631" data-goodsitemid="4642"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_13.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="3909" data-goodsitemid="3920"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_14.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="1" data-goodsitemid="1"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_17.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="5186" data-goodsitemid="5197"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_18.jpg" class="lazyload"></a>
        </div>
    </div>


    <div class="activity-goods-list">
        <img src="images/activity/activity3_19.jpg">

        <div class="goods-list-items costume">
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="7153" data-goodsitemid="7164"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_21.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="7140" data-goodsitemid="7151"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_23.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="11211" data-goodsitemid="11385"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_27.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="6761" data-goodsitemid="6772"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_28.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="6816" data-goodsitemid="6827"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_31.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="6862" data-goodsitemid="6873"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_32.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="11272" data-goodsitemid="11506"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_35.jpg" class="lazyload"></a>
            <a href="javascript: void (0)" class="goods-list-item" data-goodsid="11220" data-goodsitemid="11397"><img
                    src="images/goods_back.png" data-img="images/activity/activity3_36.jpg" class="lazyload"></a>
        </div>
    </div>


</div>