<!--顶部-->
<header class="header">
    <a href="javascript:void (0)" class="back"></a>
    <h2>情定七夕</h2>
</header>

<!--content-->
<div class="content">
    <!--top img-->
    <img  src="images/love/love_1.jpg">

    <!--love-list-->
    <div class="love-list">

        <div class="love-list-items">
            <a data-url="https://app.lehumall.com/front/activitydonate.html?hyfrom=app&activityId=483&storeActivityId=10" href="javascript:void (0)" class="love-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_2.jpg"></a>
            <a data-url="https://app.lehumall.com/front/activitydonate.html?hyfrom=app&activityId=484&storeActivityId=11" href="javascript:void (0)" class="love-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_3.jpg"></a>
            <a data-url="https://app.lehumall.com/front/activityreduce.html?hyfrom=app&activityId=482&storeActivityId=28" href="javascript:void (0)" class="love-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_4.jpg"></a>
            <a data-url="https://app.lehumall.com/front/activityreduce.html?hyfrom=app&activityId=481&storeActivityId=26" href="javascript:void (0)" class="love-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_5.jpg"></a>
        </div>

    </div>

    <div class="love-list">

        <img src="images/love/love_6.jpg">

        <div class="love-list-items">
            <a data-url="https://app.lehumall.com/front/activityreduce.html?hyfrom=app&activityId=476&storeActivityId=20" href="javascript:void (0)" class="love-list-fc" style="height: 4.25rem; overflow: hidden"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_7.jpg"></a>
            <a href="javascript:void (0)" class="love-list-tc" style="height: 4.25rem; overflow: hidden">
                <img  src="images/love/love_8.jpg" data-goodsid="6676" data-goodsitemid="6687">
                <img  src="images/love/love_9.jpg" data-goodsid="11934" data-goodsitemid="12409">
                <img  src="images/love/love_10.jpg" data-goodsid="9005" data-goodsitemid="9016">
                <img  src="images/love/love_11.jpg" data-goodsid="10644" data-goodsitemid="10655">
            </a>
            <a href="javascript:void (0)" class="love-list-tc" style="height: 4.25rem; overflow: hidden">
                <img src="images/love/love_12.jpg" data-goodsid="11353" data-goodsitemid="11604">
                <img src="images/love/love_13.jpg" data-goodsid="5188" data-goodsitemid="5199">
                <img src="images/love/love_16.jpg" data-goodsid="1337" data-goodsitemid="1348">
                <img src="images/love/love_17.jpg" data-goodsid="6744" data-goodsitemid="6755">
            </a>
            <a href="javascript:void (0)" class="love-list-tc" style="height: 4.25rem; overflow: hidden">
                <img src="images/love/love_14.jpg" data-goodsid="2731" data-goodsitemid="2742">
                <img src="images/love/love_15.jpg" data-goodsid="3069" data-goodsitemid="3080">
                <img src="images/love/love_18.jpg" data-goodsid="11529" data-goodsitemid="11808">
                <img src="images/love/love_19.jpg" data-goodsid="7136" data-goodsitemid="7147">
            </a>
        </div>

    </div>

    <!--activity-goodsList-->
    <div class="love-list">

        <img  src="images/love/love_20.jpg">
        <!--goods-list-->
        <div class="prefecture-list-items">
            <a data-goodsid="11409" data-goodsitemid="11668" href="javascript: void (0)" class="prefecture-list-item"><img class="lazyload" src="images/big_goods_back.png" data-img="images/love/love_21.jpg"></a>
            <a data-goodsid="11289" data-goodsitemid="11524" href="javascript: void (0)" class="prefecture-list-item"><img class="lazyload" src="images/big_goods_back.png" data-img="images/love/love_22.jpg"></a>
            <a data-goodsid="11582" data-goodsitemid="11910" href="javascript: void (0)" class="prefecture-list-item"><img class="lazyload" src="images/big_goods_back.png" data-img="images/love/love_23.jpg"></a>
            <a data-goodsid="11955" data-goodsitemid="12434" href="javascript: void (0)" class="prefecture-list-item"><img class="lazyload" src="images/big_goods_back.png" data-img="images/love/love_24.jpg"></a>
        </div>
    </div>


    <div class="love-list">
        <img src="images/love/love_25.jpg">

        <div class="goods-list-items">
            <a data-goodsid="1575" data-goodsitemid="1586" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_26.jpg"></a>
            <a data-goodsid="1929" data-goodsitemid="1940" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_27.jpg"></a>
            <a data-goodsid="11581" data-goodsitemid="11905" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_28.jpg"></a>
            <a data-goodsid="2753" data-goodsitemid="2764" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_29.jpg"></a>
            <a data-goodsid="3221" data-goodsitemid="3232" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_30.jpg"></a>
            <a data-goodsid="1721" data-goodsitemid="1732" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_31.jpg"></a>
            <a data-goodsid="11232" data-goodsitemid="11409" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_32.jpg"></a>
            <a data-goodsid="838" data-goodsitemid="849" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_33.jpg"></a>
        </div>
    </div>

    <div class="love-list">
        <img src="images/love/love_34.jpg">

        <div class="goods-list-items">
            <a data-goodsid="7178" data-goodsitemid="7189" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_35.jpg"></a>
            <a data-goodsid="7155" data-goodsitemid="7166" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_36.jpg"></a>
            <a data-goodsid="6986" data-goodsitemid="6997" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_37.jpg"></a>
            <a data-goodsid="6787" data-goodsitemid="6798" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_38.jpg"></a>
            <a data-goodsid="11412" data-goodsitemid="11671" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_39.jpg"></a>
            <a data-goodsid="11530" data-goodsitemid="11809" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_40.jpg"></a>
            <a data-goodsid="11210" data-goodsitemid="11384" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_41.jpg"></a>
            <a data-goodsid="7144" data-goodsitemid="7155" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_42.jpg"></a>
        </div>
    </div>

    <div class="love-list">
        <img src="images/love/love_43.jpg">

        <div class="goods-list-items">
            <a data-goodsid="6272" data-goodsitemid="6283" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_44.jpg"></a>
            <a data-goodsid="6271" data-goodsitemid="6282" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_45.jpg"></a>
            <a data-goodsid="6690" data-goodsitemid="6701" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_46.jpg"></a>
            <a data-goodsid="6090" data-goodsitemid="6101" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_47.jpg"></a>
            <a data-goodsid="6678" data-goodsitemid="6689" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_48.jpg"></a>
            <a data-goodsid="11134" data-goodsitemid="11269" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_49.jpg"></a>
            <a data-goodsid="11919" data-goodsitemid="12392" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_50.jpg"></a>
            <a data-goodsid="11951" data-goodsitemid="12430" href="javascript: void (0)" class="goods-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_51.jpg"></a>
        </div>
    </div>


    <div class="love-list">
        <img src="images/love/love_52.jpg">

        <div class="column-list-items">
            <a data-goodsid="1596" data-goodsitemid="1607" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_53.jpg"></a>
            <a data-goodsid="707" data-goodsitemid="718" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_54.jpg"></a>
            <a data-goodsid="11765" data-goodsitemid="12216" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_55.jpg"></a>
            <a data-goodsid="420" data-goodsitemid="431" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_56.jpg"></a>
            <a data-goodsid="775" data-goodsitemid="786" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_57.jpg"></a>
            <a data-goodsid="3276" data-goodsitemid="3287" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_58.jpg"></a>
            <a data-goodsid="776" data-goodsitemid="787" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_59.jpg"></a>
            <a data-goodsid="3287" data-goodsitemid="3298" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_60.jpg"></a>
            <a data-goodsid="1345" data-goodsitemid="1356" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_61.jpg"></a>
            <a data-goodsid="2041" data-goodsitemid="2052" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_62.jpg"></a>
            <a data-goodsid="1199" data-goodsitemid="1210" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_63.jpg"></a>
            <a data-goodsid="11057" data-goodsitemid="11178" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_64.jpg"></a>
        </div>
    </div>

    <div class="love-list">
        <img src="images/love/love_65.jpg">

        <div class="column-list-items">
            <a data-goodsid="11906" data-goodsitemid="12379" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_66.jpg"></a>
            <a data-goodsid="11903" data-goodsitemid="12376" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_67.jpg"></a>
            <a data-goodsid="11833" data-goodsitemid="12294" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_68.jpg"></a>
            <a data-goodsid="11979" data-goodsitemid="12458" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_69.jpg"></a>
            <a data-goodsid="11659" data-goodsitemid="12020" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_70.jpg"></a>
            <a data-goodsid="11477" data-goodsitemid="11744" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_71.jpg"></a>
            <a data-goodsid="11373" data-goodsitemid="11632" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_72.jpg"></a>
            <a data-goodsid="11215" data-goodsitemid="11392" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_73.jpg"></a>
            <a data-goodsid="10871" data-goodsitemid="10882" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_74.jpg"></a>
            <a data-goodsid="10855" data-goodsitemid="10866" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_75.jpg"></a>
            <a data-goodsid="10827" data-goodsitemid="10838" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_76.jpg"></a>
            <a data-goodsid="10351" data-goodsitemid="10362" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_77.jpg"></a>
        </div>
    </div>

    <div class="love-list">
        <img  src="images/love/love_78.jpg">

        <div class="column-list-items">
            <a data-goodsid="3915" data-goodsitemid="3926" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_79.jpg"></a>
            <a data-goodsid="11345" data-goodsitemid="11592" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_80.jpg"></a>
            <a data-goodsid="5421" data-goodsitemid="5432" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_81.jpg"></a>
            <a data-goodsid="26" data-goodsitemid="31" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_82.jpg"></a>
            <a data-goodsid="4733" data-goodsitemid="4744" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_83.jpg"></a>
            <a data-goodsid="5182" data-goodsitemid="5193" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_84.jpg"></a>
            <a data-goodsid="3895" data-goodsitemid="3906" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_85.jpg"></a>
            <a data-goodsid="11645" data-goodsitemid="12004" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_86.jpg"></a>
            <a data-goodsid="4007" data-goodsitemid="4018" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_87.jpg"></a>
            <a data-goodsid="4850" data-goodsitemid="4861" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_88.jpg"></a>
            <a data-goodsid="3904" data-goodsitemid="3915" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_89.jpg"></a>
            <a data-goodsid="4904" data-goodsitemid="4915" href="javascript: void (0)" class="column-list-item"><img class="lazyload" src="images/goods_back.png" data-img="images/love/love_90.jpg"></a>
        </div>
    </div>


</div>