
<!--顶部-->
<header class="header">
    <a href="javascript:void (0)" class="back"></a>
    <h2>领券中心</h2>
</header>

<div class="coupons_category">
    <a href="javascript:void (0)" class="active" data-value="0">乐虎券</a>
    <a href="javascript:void (0)" data-value="1">店铺券</a>
</div>


<!--乐虎券中间-->
<section class="coupons_main">



</section>
<!--/乐虎券中间-->

<!--乐虎券-->

<div class="coupons_box_null" style="display: none">
    <img src="images/coupons/no_coupon.png">
    您还没有可领取的优惠券哦~
</div>


<!--进入我的；乐虎券-->
<div class="enter_coupon">
    <span class="enter_coupon_me"><img src="images/coupons/coupons.png">我的优惠券</span>
    <span class="enter_coupon_te"><img src="images/coupons/enter.png"></span>
</div>

