/*tab*/
.tabs{ width:100%; height:.8rem; display:block; position:fixed; top:0; left:0;z-index:9; box-shadow: 0px 3px 4px 0px rgb( 225, 225, 225 ); background: #ffffff; min-width: 320px}
.tabs a{ font-size: .26rem; float: left; padding: .24rem .15rem; color: #757575; margin-left: .3rem}
.tabs a.active{  border-bottom: .08rem solid #f53828; color: #f53828}


/*容器*/
.group_main{ width:100%; height:auto; display:block; float:left; margin:.8rem 0 0 0!important; background: #f5f5f5; padding-bottom: .5rem}
.group_main_box{ width:100%; height:auto; display:block; float:left; margin:.15rem 0 0; background: #ffffff; padding: .2rem 0}
.group_main_list{ width: auto; height: auto; float: left; background: url(../img/success_group.jpg) no-repeat right top; background-size: 70%}
.group_main_img{ width:26%; height:auto; display:block; float:left; margin:0 0 0 4%;}
.group_main_img img{ width:100%; height:auto; display: block; float:left;}
.group_main_title{ width:60%; height:.8rem; overflow:hidden; color:#212121; font-size:.26rem; line-height:.35rem; display:block; float:right; margin-right:4%;word-break:break-all; font-weight: 500}
.group_main_msg{ width:64%; height:auto; display:block; float:right; position:relative;}
.group_main_msg em{ width: 100%; height: auto; display: block; float: left}
.group_main_msg del{ width:auto; height:auto;display:inline-block;}
.group_main_msg em{ font-size:.18rem; color: #707070}
.group_main_msg em i{ font-size:.3rem; color:#fe0101; margin-left: .08rem; font-weight: 500}
.group_main_msg del{ font-size:.18rem; color:#909090; text-decoration:line-through; margin-left: .15rem;}
.group_main_msg span{ width:70%; height:auto; display:block; float:left; font-size:.2rem; color:#212121;line-height: .3rem; margin-top: .3rem}
.group_main_msg span img{ width:.25rem; height:auto; display:block; float:left; margin:.04rem .2rem 0 0; position: relative}
.group_main_msg a{ position:absolute; bottom:-0.21rem; right:0;display:block; float:right;margin:-.38rem .24rem .1rem 0; }
.group_main_bt{ width:auto; height:.5rem; line-height:.5rem; padding:0 .3rem; border-radius:.1rem; background:#f53828; font-size:.22rem; color:#ffffff;}
.group_main_ct,.group_main_st{ font-size: .22rem; width: auto; height: .5rem; line-height: .5rem; color: #757575}
.group_main_msg span i{ color:#fe0101; margin-left:.15rem;}

/*成功团开团*/
.group_main_sc{ border-top: 1px solid #e0e0e0; float: left; width: 100%; height: auto; margin-top: .1rem}
.group_main_name{ width: 90%; height: .6rem; float: left; border: .02rem solid #ff503e; border-radius: .6rem; margin: .2rem 5% 0; position: relative}
.group_main_name .group_main_head{ width: .7rem; height: .7rem ;position: absolute; top: -.05rem; left: -.1rem; border-radius: 50%; z-index: 9}
.group_main_ds{ width: auto; height: .5rem; float: left; margin-left:.7rem; padding: .05rem 0}
.group_main_ph{ font-size: .26rem; float: left; display: block; width: 100%; height: .28rem}
.group_main_ph  img{ display: inline-block; height: .18rem; width: auto; margin-left: .1rem; vertical-align: baseline}
.group_main_tm{ font-size: .20rem; float: left; display: block; width: 100%; height: .22rem; color: #bebebe}
.group_main_tm em{ margin-left: .1rem}
.group_main_sk{ width: 1.36rem; height: .6rem; background: #ff503e; font-size: .26rem ; color: #ffffff; display: inline-block; float: left; position: absolute; top: 0; right: 0; border-radius: 0 .6rem .6rem 0; text-align: center; line-height: .6rem}

/*成功团详情页*/
.open_list{ width: 100%; height: auto; float: left}
.open_main_sc{ float: left; width: 100%; height: auto;}
.open_main_st{ float: left; width: .31em; height: auto; margin-right: .16rem; margin-left: .2rem}
.open_main_group{ width: 6.83rem; height: auto; float: left; border-bottom: .02rem solid #efefef}
.open_main_name{ width: 96%; height: .6rem; float: left; border: .02rem solid #ff503e; border-radius: .6rem;position: relative; margin: .1rem 0}
.open_main_name .open_main_head{ width: .6rem; height: .6rem ;position: absolute; left: -.1rem; border-radius: 50%; z-index: 9}
.open_main_active{ border: .02rem solid #ffffff; }
.open_main_ds{ width: auto; height: .5rem; float: left; margin-left:.7rem; padding: .05rem 0}
.open_main_ph{ font-size: .26rem; float: left; display: block; width: 100%; height: .28rem}
.open_main_ph  img{ display: inline-block; height: .18rem; width: auto; margin-left: .1rem; vertical-align: baseline}
.open_main_tm{ font-size: .20rem; float: left; display: block; width: 100%; height: .22rem; color: #bebebe}
.open_main_tm em{ margin-left: .1rem}
.open_main_sk{ width: 1.36rem; height: .6rem; background: #ff503e; font-size: .26rem ; color: #ffffff; display: inline-block; float: left; position: absolute; top: 0; right: 0; border-radius: 0 .6rem .6rem 0; text-align: center; line-height: .6rem}
.open_sk_active{ background: transparent; color: #bfbfbf}

/*券类*/
.coupons_box{ width:100%; height:auto; display:block; float:left; background: url(../img/coupon_back.png) no-repeat; background-size: 100% }
.coupons_box_b{ width: .1rem ; height: 1.25rem; background: #f53828; border-radius: .1rem 0 0 .1rem; float: left   }
.coupons_box_l{ width:4.62rem; height:1.25rem; display:block; float:left; text-align:left; margin:.04rem .2rem}
.coupons_box_l em{ width:90%; color:#212121;float: left; margin: .04rem 5% .08rem; font-size:.32rem;}
.coupons_box_l em img{ display: inline-block; width: auto; height: .24rem;margin-right: .1rem; position: relative; top: -.02rem}
.coupons_box_l em b{ font-size:.20rem;}
.coupons_box_l span{ width: 90%;font-size: .28rem; height: auto;display: block; font-weight: bolder; color: #212121;float: left; margin: 0 5% .12rem;}
.coupons_box_l p{ width: 90%; color: #c1c1c1; font-size: .20rem; height: auto; margin: 0 5% 0; float: left}
.coupons_box_r{ width:1.9rem; height:1.4em; display:block; float:left;  border-radius:0 .1rem .1rem 0;position:relative; margin-left: .22rem }
.coupons_box_r em{ font-size:.20rem; width:90%;  display:block; float:left; margin:.3rem 5% .12rem; color: #2e2e2e}
.coupons_box_r em b{ font-size: .28rem ; font-weight: bolder; margin-right: .1rem; color:#212121;}
.coupons_box_r span{ font-size:.24rem; color:#f64031; width:90%;  display:block; float:left; margin:0 5% .2rem;}
.coupons_box_r span i{ margin-left: .1rem}



.footer{ width:100%; height:1rem; display:block; float:left; position:fixed; left:0; bottom:0; background:#ffffff; z-index:9; overflow:hidden; box-shadow: -2px -2px 5px #e0e0e0 }
.footer_msg{ width:39.7%; height:1rem; display:block; float:left; text-align:center; line-height:1rem; font-size:.24rem; color:#757575; border-top: 1px solid #ffffff}
.footer_join{ margin-left: .2rem}
.footer_msg img,.open_ok_mun p img{ width:.36rem; height:auto; display:inline-block; margin-right:.1rem; margin-top:-.1rem;}
.footer_buy{ width:30%; height:1rem; display:block; float:left;border-top:1px solid #ff9800; background:#ff9800;text-align:center; line-height:.3rem; font-size:.24rem; color:#ffffff; margin-right:.3% }
.footer_open{ width:30%; height:1rem; display:block; float:left;border-top:1px solid #f53828; background:#f53828;text-align:center; line-height:.3rem; font-size:.24rem; color:#ffffff;}
.footer_buy i,.footer_open i{ width:100%; height:.3rem; display:block; float:left; margin:.25rem 0 0;}
.open_top{ width:100%; height:6.8rem; overflow:hidden;}
.open_top img{ width:100%; height:auto;}
.pagination { position:relative; z-index:9; margin-top:-1rem; width:100%; text-align:center;}
.pagination .swiper-pagination-bullet-active{background: #5babe6;}
.pagination .swiper-pagination-bullet{ width:.2rem; height:.2rem;}
.open_title{ width:94%; height:auto; display:block; float:left; border-bottom:.02rem solid #f5f5f5; padding:0 3% .2rem; }
.open_title_active{background: url(../img/success_group.jpg) no-repeat top right; background-size: 80%}
.open_title p,.open_title span{ width:100%; height:auto; display:block; float:left; margin:.2rem 0 0; line-height:.3rem;}
.open_title p{ font-size:.28rem; color:#212121; line-height: .34rem}
.open_title span{ font-size:.26rem; color:#999999; margin-top:.1rem;}
.open_title em,.open_title del{ width:auto; height:auto; display:block; float:left; margin:.2rem 0 0;}
.open_title em{ font-size:.26rem; color:#757575;}
.open_title em i{ font-size:.26rem; color: #f53828; font-weight: 600}
.open_title del{ font-size:.24rem; color:#c0c0c0; text-decoration:line-through; margin:.22rem 0 0 .2rem;}
.open_title span{ display: block; width: 100%; height: auto; float: left; margin-top: .2rem}
.jion{width:94%; height:auto; display:block; float:left; border-bottom:.2rem solid #f5f5f5; padding:.2rem 3%;}
.open_card{ width: 96%; height: auto; display: block; float: left; border-bottom:.2rem solid #f5f5f5; padding:.2rem 2%;}
.open_time{float: left; width: 100%; height: auto; border-top: .2rem solid #f5f5f5; margin-bottom: 1.1rem}
.open_head{ width:94%; height:.7rem; line-height:.7rem; display:block; float:left; font-size:.28rem; color:#212121; padding: 0 3%; }
.open_head_active{border-bottom: 1px solid #e0e0e0}
.open_card_box{ width:100%; height:2.09rem;display:block; float:left;}
.open_card_box p{border:1px solid #e1e1e1;border-right:0; border-radius:.2rem 0 0 .2rem; width:32%; height:2.09rem; font-size:.27rem; color:#8c8c8c; text-align:center; display:block; float:left;}
.open_card_box p em{ width:100%; height:auto; display:block; float:left; font-size:.48rem; color:#f5174b; margin:.6rem 0 .2rem;}
.open_card_box p em i{ font-size:.3rem;}
.open_card_box img{ height:2.09rem; width:auto; display:block; float:left;}
.open_card_box span{border:1px solid #e1e1e1;border-left:0; border-radius:0 .2rem .2rem 0; width:60%; height:1.39rem; font-size:.27rem; color:#8c8c8c; display:block; float:left; padding:.7rem 0 0 2%; line-height:.47rem;}
.open_main{ margin-bottom:1.5rem; border-bottom:0;}
.open_main img{ width:100%; height:auto;}
.jion_time{ width:94%; height:auto; line-height:.9rem; font-size:.24rem; color:#757575; display:block; float:left; padding: 0 3%}
.jion_box{ float: left; width: 100%; height: auto}
.jion_box img{ width: .4rem; margin-right: .08rem}
.jion_box span{ width: auto; height: auto; margin-left: .2rem}

.footer_ok .footer_buy{ background:#ff9800; border-color:#f5174b;}
.footer_ok .footer_time{ width:66%}
