<div class="fix_go_top"></div>

<style type="text/css">
	.fix_go_top {
	    width: 1.2rem;
	    height: 1.2rem;
	    border-radius: 1rem;
	    display: none;
	    position: fixed;
	    z-index: 9;
	    cursor: pointer;
	    bottom: .5rem;
	    right: .3rem;
	    background: url(images/dingbu.png) no-repeat;
	    background-size: 100%;
	    z-index: 5;
	}
</style>